# neo4j authentication
neo4j:
  username: neo4j
  password: change-me!
  uri: bolt://localhost:7687
  http_port: 7474
  bolt_port: 7687

#keys
keys:
  mistral: my-api-key
  openai: my-open-api-key

#urls
urls:
  frontend: http://localhost:8650
  backend: http://localhost:8250
  ws: ws://localhost:8250/ws

# Azure
azure:
  storage_connection_string: "my-connection-string"
  storage_container_name: my-container-name
  initial_data_filename: test-data.json

# agents
agents:
  answer:
    llm: 'mistral'
    model: 'mistral-large-2402'
  intent:
    llm: 'mistral'
    model: 'mistral-large-2402'
  validator:
    llm: 'mistral'
    model: 'mistral-large-2402'
  datastore:
    llm: 'mistral'
    model: 'mistral-large-2402'
  maths:
    llm: 'mistral'
    model: 'mistral-large-2402'
  router:
    llm: 'mistral'
    model: 'mistral-large-2402'
  web:
    llm: 'mistral'
    model: 'mistral-large-2402'
