# neo4j authentication
neo4j:
  username: neo4j
  password: change-me!
  uri: bolt://localhost:7687
  http_port: 7474
  bolt_port: 7687

# backend LLM properties
mistral_key: my-api-key

# OpenAI LLM properties
openai_key: my-openai-api-key

# frontend and backend URLs
frontend_url: http://localhost:8650
backend_url: http://localhost:8250
ws_url: ws://localhost:8250/ws

# Azure
azure:
  storage_connection_string: "my-connection-string"
  storage_container_name: my-container-name
  initial_data_filename: test-data.json

# llm config
llm:
  answer_agent_llm: "mistral"
  intent_agent_llm: "mistral"
  validator_agent_llm: "mistral"
  datastore_agent_llm: "mistral"
  maths_agent_llm: "mistral"
  router_llm: "mistral"
  web_agent_llm: "mistral"

# llm model
models:
  agent_class_model: "mistral-large-latest"
  answer_agent_model: "mistral-large-latest"
  intent_agent_model: "mistral-large-latest"
  validator_agent_model: "mistral-large-latest"
  datastore_agent_model: "mistral-large-latest"
  maths_agent_model: "mistral-large-latest"
  router_model: "mistral-large-latest"
  web_agent_model: "mistral-large-latest"
