fastapi==0.110.0
uvicorn==0.29.0
mistralai==0.1.8
pycodestyle==2.11.1
python-dotenv==1.0.1
neo4j==5.18.0
ruff==0.3.5
pytest==8.1.1
pytest-mock==3.14.0
pytest-asyncio==0.23.7
jinja2==3.1.3
websockets==12.0
azure-core==1.30.1
azure-storage-blob==12.20.0
cffi==1.16.0
cryptography==42.0.7
isodate==0.6.1
pycparser==2.22
openai==1.35.3
beautifulsoup4==4.12.3
aiohttp==3.9.5
googlesearch-python==1.2.4
pyyaml==6.0.2
pypdf2==3.0.1
