.container {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  justify-content: center;
}

.bot {
  align-self: flex-start;
}

.user {
  align-self: flex-end;
  flex-direction: row-reverse;
}
