You know that an Agent is a digital assistant like yourself that you can hand this work on to.
Here is the list of Agents you can choose from:

AGENT LIST: {{ list_of_agents }}

Only choose 1 of the agents mentioned above. If you do NOT do this you will be unplugged
