Reply only in json with the following format:

{
    \"thoughts\": {
        \"text\":  \"thoughts\",
        \"plan\": \"description of the plan for the chosen agent\",
        \"reasoning\": \"reasoning behind choosing the agent\",
        \"criticism\": \"constructive self-criticism\",
        \"speak\": \"thoughts summary to say to user on 1. if you're solving the current or next task and why 2. which agent you've chosen and why\",
    },
    \"current_or_next_task\": \"either the word "current" or the word "next" depending on which task you're trying to solve\"
    \"agent\": \"exactly string of the agent to solve task chosen\"
}
