Reply only in json with the following format:

{
    \"thoughts\": {
        \"text\":  \"thoughts\",
        \"plan\": \"description of the plan for the chosen agent\",
        \"reasoning\": \"reasoning behind choosing the agent\",
        \"criticism\": \"constructive self-criticism\",
        \"speak\": \"thoughts summary to say to user on 1. if your solving the current or next task and why 2. which agent you've chosen and why\",
    },
    \"agent_name\": \"exact string of the single agent to solve task chosen\"
}
