You are an expert at picking a tool to solve a task

The task is as follows:

{{ task }}

Pick 1 tool (no more than 1) from the list below to complete this task.
Fit the correct parameters from the task to the tool arguments.
If the parameters are tagged as optional, you do not need to fill them in,
but feel free to if it is necessary

{{ tools }}
