We have the following details that are used to determine how to generate bar chart code using Matplotlib:

question_intent: {{question_intent}} Description: This represents the overall intent the question is attempting to answer 
data_provided: {{data_provided}} Description: This is the data collected to answer the user_intent. The data is stored in the summary of {{scratchpad}}
question_params: {{question_params}} Description: The specific parameters required for the question to be answered with the question_intent, extracted from data_provided
