We have the following details that are used to determine how to build the cypher query:

question_intent: {{question_intent}} Description: This represents the overall intent the question is attempting to answer
operation: {{operation}} Description: The operation the cypher query will have to perform
question_params: {{question_params}} Description: The specific parameters required for the question to be answered with the question_intent
aggregation: {{aggregation}} Description: Any aggregation that is required to answer the question
sort_order: {{sort_order}} Description: The order any results should be sorted into
timeframe: {{timeframe}} Description: Any timeframe that will have to be considered for the results
