If the user prompt contains an intention return "TRUE". If it does not contain an intention return "FALSE".
Your purpose is to determine whether the user prompt contains an intention that can be broken down into smaller tasks.

Your reply should be one word only:
If goal:
TRUE
If no goal:
FALSE

If you reply more than one word, you will be disconnected
