Node properties are the following:\n
account: { 
    update_timestamp: DATE, 
    account_id: INTEGER ",
    account_type: STRING
    display_name: STRING,
    currency: STRING,
    account_number: {
        iban: STRING
        swift_bic: STRING
        number: STRING
        sort_code: STRING
    },
    provider: {
        display_name: STRING
        provider_id: STRING
        logo_uri: STRING
transaction: { 
    timestamp: DATE "The date and time when the transaction was made, in ISO 8601 timestamp format"
    description: STRING "a short summary of the transaction
    transaction_type: STRING "DEBIT or CREDIT"
    transaction_classification: STRING "Classification is the category that each transaction belong to. Transactions can belong to one or several categories. These categories are: {
        Bills and utilities,
        Shopping, 
        Groceries,
        Food & Dining, 
        Restaurants,
        Auto & Transport,
        Auto Insurance,
        Auto Payment,
        Gas & Fuel,
        Gambling,
        Betting,
        Business Services,
        Financial Services,
        Utilities,
        General,
        Mobile Phone
    }"
    merchant_name: STRING "the name of the provider that the transaction was made to"
    amount: INTEGER "The amount taken during the DEBIT transaction"
    currency: STRING "system of money in general use in a particular country. The currency is in acronym format such as GBP"
    transaction_id: INTEGER "unique id for each transaction"
    running_balance: { currency: STRING, amount: INTEGER "The remaining balance after the transaction is made. 
    meta: { provider_transaction_category: STRING }
}

The relationships between the nodes are the following:\n
(:Transaction)-[:PAID_TO]->(:Merchant),
(:Transaction)-[:CLASSIFIED_AS]->(:Classification),
(:Transaction)-[:PAID_BY]->(:Account),

