The graph below represents a hierarchy starting from a Parent Transaction,
which is at the top level of the graph, and goes down to Account, Classification or
Merchant. Each Transaction contains meta data