The graph represents a hierarchy starting from a Parent Account,
which is at the top level of the graph and goes down to Transaction.
All Transactions belong to a group or Classification and each of them 
is made and associated to a Merchant. 